body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1rem;
    letter-spacing: 0rem;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: rgba(50, 50, 50, 1);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    /*font-family: 'Amatic SC', cursive;*/
    /*font-family: 'Cinzel', serif;*/
    /*font-family: 'Nosifer', cursive;*/
    /*font-family: 'Jim Nightshade', cursive;*/
    /*font-family: 'Bahiana', cursive;*/
    /*font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
}

.alx_bg_img {
    background-image: url("../resr/img/factorioindexbg.jpg");
}


.alx_bg_tut {
    padding: 0;
    margin: 0;
    background-image: url("../resr/img/factorioindexbg.jpg");
}

.tutbg{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    text-align:center;
    height:102vh;
    position:relative;
    margin:0;
    padding: 2vw;
}

.tut{
    position:relative;
    z-index: 4;
    color:white;
    margin:auto;
    min-height:100vh;
    width:50vw;
}

.tutbtn{
    width:15vw;
    height:5vh;
    background-color: #4db6ac;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.6);
    border: none;
}

.zasady{
    text-align:left;
    font-size: 1.2rem;
}

/*ustawianie zmiennych*/
:root {
    --szerokosc-lewego-panelu: 20vw;
    --margines_lewego_panelu: 5vw;
    --space-div: 2vw;
    --szerokosc-kontentu: calc(100vw - var(--szerokosc-lewego-panelu) - 3 * var(--margines_lewego_panelu) + var(--space-div));
    --margines-kontentu: calc(var(--szerokosc-lewego-panelu) + var(--margines_lewego_panelu) + var(--space-div));
}

.aleks_user_panel, .aleks_content_panel {
    float: left;
    position: relative;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    width: var(--szerokosc-lewego-panelu);
    margin-left: var(--margines_lewego_panelu);
    margin-top: 3vh;
    padding: 1vh 0vw;
    border-radius: 10vh 0% 0% 0%;
}

.aleks_content_panel, .aleks_content_panel_user {
    float: left;
    padding: 6vh 6vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: var(--szerokosc-kontentu);
    margin-left: var(--margines-kontentu);
    border-radius: 0% 0% 10vh 0%;
}

.aleks_content_panel_userfix {
    padding: 6vh 5vw!important;
}

.aleks_icon {
    margin-top: -0.6rem;
    font-size: 0.8rem;
}

.aleks_user_img_div {
    padding-top: 10%;
    text-align: center;
}

/*animacja avatara w lewym panelu*/
.aleks_user_img {
    padding: 2.5%;
    width: 50%;
    border-radius: 50%;
    background-color: rgba(191, 63, 63, 1);
    transition: padding 500ms;
}

.aleks_user_img:hover {
    padding: 0%;
    background-color: rgba(191, 63, 63, 1);
    transition: padding 500ms;
}

.aleks_center {
    text-align: center;
}

h5 {
    font-weight: bolder;
    cursor: default;
}

.aleks_logout {
    width: 2rem;
    margin-bottom: -0.5rem;
}

.aleks_link_logout {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.alx_h6_font_grey {
    font-size: 1.2rem;
    color: gray;
    cursor: default;
}

.progress {
    margin: 0 !important;
    padding: 0.2rem !important;
    background-color: rgba(0, 0, 0, 0.2);
!important;
    margin-left: 10% !important;
    margin-rigth: 10% !important;
    width: 80%;
}

.progress .determinate {
    background-color: rgba(191, 63, 63, 1);
!important;
}

.alx_center_th {
    text-align: center;
    width: auto;
}

.alx_th_padding {
    padding: 0.4rem;
}

table, tr, td {
    padding: 0rem;
}

/*Przycisk wylogowania*/
.alx_btn_logout {
    position: relative;
    bottom: 0;
    width: var(--szerokosc-lewego-panelu);
}

.alx_przycisk_wylogowania {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

:root {
    --transition-color: 300ms;
    --transition-bg: 300ms;
}

.alx_przycisk_wylogowania:hover {
    color: white;
    transition: color var(--transition-color);
}

.alx_przycisk_na_lewym_panelu, .alx_td_left {
    text-align: center;
    color: black;
    font-size: 1.3rem;
    padding: 1rem;
    /*background-color: rgba(077, 182, 172, 1) ;*/
    border-bottom: solid 1px rgba(50, 50, 50, 0.5);
    transition: color var(--transition-color), background-color var(--transition-bg);
}


.alx_przycisk_na_lewym_panelu:hover, .alx_td_left:hover {
    color: white;
    cursor: default;
    background-color: rgba(191, 63, 63, 0.7);
    transition: color var(--transition-color), background-color var(--transition-bg);
}


.alx_przycisk_na_lewym_panelu_wyloguj{
    text-align: center;
    color: black;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: rgba(077, 182, 172, 1) ;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.6);
    /*border-bottom: solid 1px rgba(50, 50, 50, 0.5);*/
    transition: color var(--transition-color), background-color var(--transition-bg);
}

.alx_przycisk_na_lewym_panelu_wyloguj:hover{
    color: white;
    cursor: default;
    background-color: rgba(191, 63, 63, 0.7);
    transition: color var(--transition-color), background-color var(--transition-bg);
}

.alx_h1_title {
    text-align: center;
    cursor: default;
    color: rgba(0, 0, 0, 1);
    animation-name: title;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

/*.alx_h1_title:hover{*/
/*color: rgba(191, 63, 63, 1);*/
/*letter-spacing: 2px;*/
/*animation-name: color;*/
/*animation-duration: 3s;*/
/*animation-iteration-count: infinite;*/
/*}*/

@-webkit-keyframes title {
    0% {
        color: black;
    }
    50% {
        color: rgba(191, 63, 63, 1);
    }
    100% {
        color: black;
    }

}

.alx_border_none {
    border: none !important;
}

.alx_ststystyka, .alx_ststystyka_ico {
    cursor: default;
    margin: auto;
}

.alx_ststystyka_ico {
    font-size: 2.3rem;
    width: 5vw;
}

.alx_ststystyka_txt {
    width: 40vw;
    margin: 0;
}

.alx_cursor_point {
    cursor: pointer;
}

.alx_progress_bar {
    height: 2vh;
    display: block;
    width: 100%;
    background-color: #ffffff;
}

.collapsible-body {
    color: black;
    padding: 1rem;
    padding-left: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: color var(--transition-color), background-color var(--transition-bg);
}

.collapsible-body:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(191, 63, 63, 1) !important;
    transition: color var(--transition-color), background-color var(--transition-bg);
}

/*SzerokoÅ›Ä‡ obrazka i kolumny na obrazek*/
.alx_szerokosc_kolumny_dla_grafiki_w_statystyce, .alx_img_src {
    width: 15vh;
}

/*WÅ‚aÅ›ciwoÅ›ci obrazu*/
.alx_img_src {
    border-radius: 50%;
    margin: 0;
    position: relative;
}

/*Pozycjonowaie przycisku wyboru pliku*/
.alx_btn_floating {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.alx_tabela_surowcow_admin, .alx_tabela_surowcow_admin_button {
    margin: 0;
    padding: 0px;
    padding-left: 5%;
    text-align: left;
    width: auto;
}

.alx_tabela_surowcow_admin_button, .alx_edytor_pytaÅ„ { /*dziedziczy z wyÅ¼ej podanego*/
    padding-left: 2%;
    width: 15%;
}

.alx_edytor_pytaÅ„ { /*dziedziczy z wyÅ¼ej podanego*/
    width: auto;
}

.validate {
    text-align: center;
    cursor: text;
    font-size: 1.1rem !important;
    color: black !important;
}

.active {
    color: rgba(191, 63, 63, 1) !important;
    font-size: 1.2rem !important;
    transition: color var(--transition-color);
}

.alx_button_width {
    width: 90%;
    margin: 1.5%;
}

.alx_info_o_graczu {
    margin: 0;
    padding: 0px;
    padding: 0vh 3vw;
    text-align: center;
    width: auto;
}

/*odlegÅ‚oÅ›Ä‡ przyciskÃ³w od inputow*/
.alx_padding_edit_users_button {
    margin-left: 5%;
}

/*w opcjach edycji uÅ¼ytkownikÃ³w ustala szerokoÅ›Ä‡ kontener na buttony*/
.alx_btn_space_in_users_edit {
    width: 20%;
}

.alx_small_input {
    border-color: rgba(0, 0, 0, 0) !important;
    width: 80% !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 1px !important;
    margin-top: -3% !important;
    z-index: 0;
    cursor: default;
}

.alx_edit_users_button {
    width: 18%;
}

.alx_zmiana_stylu_listy_panel_admina {
    color: black;
    animation-name: coloroff;
    animation-duration: 300ms;
}

.alx_zmiana_stylu_listy_panel_admina:hover {
    color: rgba(191, 63, 63, 1);
    letter-spacing: 2px;
    animation-name: coloron;
    animation-duration: 300ms;
}

.active {
    letter-spacing: 0;
}

@-webkit-keyframes coloron {
    0% {
        color: black;
        letter-spacing: 0px;
    }
    100% {
        color: rgba(191, 63, 63, 1);
        letter-spacing: 2px;
    }
}

@keyframes coloroff {
    0% {
        color: rgba(191, 63, 63, 1);
        letter-spacing: 2px;
    }
    100% {
        color: black;
        letter-spacing: 0px;
    }
}

.alx_flex_dla_mapy_diva {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

:root {
    --max-pic-px: 150px;
    --min-pic-px: var(--max-pic-px);
}

.alx_flexy_w_divie_map {
    flex: 1;
    transition: background-color 200ms;
    min-width: var(--min-pic-px);
    max-width: var(--max-pic-px);
    border: dotted 2px rgba(0, 0, 0, 0);
    transition: border 300ms;
}

.alx_flexy_w_divie_map:hover {
    border: dotted 2px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: background-color 200ms;
}

/*@media (max-width: 1200px){*/
/*.alx_flexy_w_divie_map{*/
/*width: 100px;*/
/*}*/
/*}*/

/*@media (max-width: 900px){*/
/*.alx_flexy_w_divie_map{*/
/*width: 100px;*/
/*}*/
/*}*/

/*@media (max-width: 600px){*/
/*.alx_flexy_w_divie_map{*/
/*width: 100px;*/
/*margin: 5px 20px;*/
/*}*/
/*}*/

.alx_flexkontener_0 {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: -1;
}

.alx_user_fabryka_flexkontener_A {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
}

.alx_user_fabryka_flexkontener_B {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    background-color: white;
}

.alx_flexy_w_edycji_fabryk_pic, .alx_flexy_w_edycji_fabryk_pic_child {
    flex: 1;
    max-height: 50vh;
    min-height: 40vh;
    background-color: black;
    text-align: center;
    position: relative;
}

.alx_flexy_w_edycji_fabryk_pic_child {
    flex: 1;
}

.alx_flexy_w_edycji_fabryk_opis {
    flex: 2;
    min-width: 200px;
    padding: 10px 20px;
    background-color: white;
    overflow-y: auto;
    min-height: 15vh;
}

.alx_button_group_ligthbox {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 300px;
    display: flex;
    position: relative;
}

.alx_flexy_w_edycji_fabryk_button {
    flex: 1;
    text-shadow: 1px 1px 5px black;
    border: solid 1px white;
}

.alx_info_group_ligthbox {
    flex-direction: row;
    min-height: 50px;
    display: flex;
    font-size: 1.4rem;
}

.alx_flexy_w_edycji_fabryk_info {
    margin: auto;
    text-shadow: 1px 1px 25px black;
    min-height: 10vh;
    padding-top: 5vh;
}

@media (max-width: 615px) {

    .alx_flexy_w_edycji_fabryk_info {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .alx_user_fabryka_flexkontener_B {
        max-width: 100vw;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

}

/*Pozycjonowaie przycisku wyboru pliku*/
.alx_btn_floating_ligthbox {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    animation-name: working;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    height: 13vh;
}

@keyframes working {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.body_bg {
    background-color: black;
}

.autorzy {
    position: relative;
    max-width: 100%;
    opacity: 0.8;
}

.alx_flexkontener_autor {
    flex: 1;
    display: flex;
    flex-direction: row;

}

.autorzy_alex, .autorzy_serhi {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    flex: 1;
}

.autorzy_serhi {
    flex: 1;
    order: 3;
}

.autorzy_info {
    display: flex;
    position: absolute;
    min-width: 100%;
    min-height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: auto;
    flex-direction: column;
}

.enjoi {
    order: 2;
    flex: 1;
    z-index: 2;
    position: relative;
    top: -120px;
    font-size: 4rem;
    letter-spacing: 10px;
    margin: auto;
    text-align: center;
}

.autorzy_btn {
    width: 10vh;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

@media (max-width: 600px) {

    .alx_flexkontener_autor {
        flex-direction: column;
    }

    body {
        overflow-y: visible;
    }

}

@media (max-width: 1263px) {

    .enjoi {
        top: -150px;
    }

    body {
        overflow-y: visible;
    }
}

@media (max-width: 944px) {

    .enjoi {
        top: -140px;
    }

    body {
        overflow-y: visible;
    }
}

@media (max-width: 600px) {

    .enjoi {
        top: 0;
    }
}

.alx_margin0 {
    margin: 5px 0 0 0 !important;
}

.alx_flexkontener_task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.alx_flex_w_edytorze_taskow {
    flex: 1;
    padding: 0 2vw 0vh 2vw;
}

.alx_flex_w_edytorze_taskow_midlle {
    flex: 2;
}

.alx_flex_w_edytorze_taskow_radio {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 4vh;
}

.alx_lvl_up_btn, .btn_lvlup {
    padding: 5vh 0vw;
    width: 100%;
}

.btn_lvlup {
    padding: 0;
    height: 6vh;
    margin: 0;
}

.alx_flexkontener_quest {
    display: flex;
    flex-direction: column;
}

.alx_flex_quest {
    flex: 1;
}

.alx_flexkontener_user_task {
    display: flex;
    flex-wrap:wrap;
}

.alx_flex_user_task {
    flex: 1;
    background-color: #4db6ac;
    margin: 1px;
    padding: 1vh;
    text-align: center;
    color: white;
    cursor: default;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.alx_flex_user_task:nth-child(2) {
    flex: 2;
}


.alx_flex_user_task:last-child {
    background-color: rgba(0,0,0,0);
}


.alx_flex_user_task_forbtn {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction:column;
}

.alx_flex_user_task_btn{
    flex: 1;
}

.alx_h1_title_fix{
    margin: 0;
    padding: 1vh;
}


.alx_flexkontener_lvlup_bg{
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
}

.alx_flexkontener_lvlup_1{
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    z-index: 5;
    max-width: 50vw;
    height: 50vh;
}

.alx_flex_lvlup_1{
    flex: 1;
    color: white;
    height: 3vh;
    margin: 0;
    padding: 3vh 3vh 0vh 3vh;
}

.alx_flex_lvlup_3{
    flex: 1;
    color: black;
    margin: 3vh;
    padding: 3vh;
    background-color: white;
}

.alx_flex_lvlup_2{
    flex: 4;
    display: flex;
}

.alx_flex_lvlup_2_1{
    flex: 1;
    height: calc(100% - 4px);
    margin: 2px;
}


.backbtn{
    position: fixed;
    bottom: 0;
    left: calc(50vw - 8vw);
    z-index: 5;
    text-align: center;
}

.btnbackwidth{
    min-width: 16vw;
}

.alx_pepe_lvlup{
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    z-index: 5;
    width: auto;
    height: auto;
}

.alx_pepe_size{
    height: 65vh;
    width: auto;
}


.alx_pepe_text{
    margin:auto;
    color: white;
    font-weight:900;
    transition: color 200ms;
    animation-name: working;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    height: 13vh;
    margin-top:-5vh;
}

@keyframes working {
    0% {
        transform: rotate(5deg);
        font-size: 3rem;
    }
    50% {
        transform: rotate(360deg);
        font-size: 10rem;
    }
    100% {
        transform: rotate(365deg);
        font-size: 3rem;
    }
}

.jsmessage{
    z-index: 2;
    position: fixed;
    right: 0vw;
    opacity: 0;
    top: 10%;
    padding:0.5rem 2rem;
    background-color: rgba(255,255,255,0.8);
    font-size: 1.3rem;
}


.loading{
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align:center;
    opacity: 1;
    background-color: rgba(245,245,245,1);
}

.loadingimg{
    position: relative;
    margin: auto;
    opacity: 1;
    top: calc(50% - 250px);
}